<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Lista de Produtos</h4>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead class="text-danger">
                    <th class="text-center">ID</th>
                    <th>Nome</th>
                    <th class="text-center">Ações</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let produto of produtos">
                        <td class="text-center"> {{produto.id}} </td>
                        <td> {{produto.nome}} </td>
                        <td class="td-actions text-center">
                            <button [routerLink]="['/produtos','editar', produto.id]" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" mat-raised-button
                                    matTooltip="Editar Produto"
                                    type="button">
                                <i class="material-icons">edit</i>
                            </button>
                            <button [routerLink]="['/checklists','criar', produto.id]" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" mat-raised-button
                                             matTooltip="Checklist"
                                             type="button">
                            <i class="material-icons">check</i>
                            </button>
                            <button [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" mat-raised-button
                                    matTooltip="Remover Produto"
                                    type="button">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-actions text-center">
                            <button [routerLink]="['/produtos','editar', 0]" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" mat-raised-button
                                    matTooltip="Adicionar Produto"
                                    type="button">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

